In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,accuracy_score
import seaborn as sns

In [2]:
df=pd.read_csv("adult.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df["income"] = df["income"].str.strip().map({">50K": 1, "<=50K": 0})

In [6]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,0
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,0
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,0

In [7]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
df["sex"]=le.fit_transform(df["sex"])

In [8]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,0,0,4356,40,United-States,0
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,0,0,4356,18,United-States,0
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,0,0,4356,40,United-States,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,0,0,3900,40,United-States,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,0,0,3900,40,United-States,0

In [9]:
(df=="?").sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [10]:
df=pd.get_dummies(df,columns=['workclass','marital.status','occupation','relationship'],drop_first=True,dtype=int)

In [11]:
df.head(10)

,age,fnlwgt,education,education.num,race,sex,capital.gain,capital.loss,hours.per.week,native.country,...,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife
0,90,77053,HS-grad,9,White,0,0,4356,40,United-States,...,0,0,0,0,0,1,0,0,0,0
1,82,132870,HS-grad,9,White,0,0,4356,18,United-States,...,0,0,0,0,0,1,0,0,0,0
2,66,186061,Some-college,10,Black,0,0,4356,40,United-States,...,0,0,0,0,0,0,0,0,1,0
3,54,140359,7th-8th,4,White,0,0,3900,40,United-States,...,0,0,0,0,0,0,0,0,1,0
4,41,264663,Some-college,10,White,0,0,3900,40,United-States,...,1,0,0,0,0,0,0,1,0,0
5,34,216864,HS-grad,9,White,0,0,3770,45,United-States,...,0,0,0,0,0,0,0,0,1,0
6,38,150601,10th,6,White,1,0,3770,40,United-States,...,0,0,0,0,0,0,0,0,1,0
7,74,88638,Doctorate,16,White,0,0,3683,20,United-States,...,1,0,0,0,0,0,1,0,0,0
8,68,422013,HS-grad,9,White,0,0,3683,40,United-States,...,1,0,0,0,0,1,0,0,0,0
9,41,70037,Some-college,10,White,1,0,3004,60,?,...,0,0,0,0,0,0,0,0,1,0

In [12]:
for col in ['workclass', 'occupation', 'native.country']:
    if col in df.columns:
        df[col].fillna(df[col].mode()[0], inplace=True)

C:\Users\chinm\AppData\Local\Temp\ipykernel_15100\1450668204.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [13]:
df=df.drop(['fnlwgt','education','race','native.country'],axis=1)

In [14]:
df.head()

,age,education.num,sex,capital.gain,capital.loss,hours.per.week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife
0,90,9,0,0,4356,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,82,9,0,0,4356,18,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,66,10,0,0,4356,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,54,4,0,0,3900,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,41,10,0,0,3900,40,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [15]:
X=df.drop("income",axis=1)
y=df["income"]

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [17]:
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.fit_transform(X_test)

In [18]:
model=LogisticRegression(max_iter=5000,solver='liblinear')
model.fit(X_train,y_train)

LogisticRegression(max_iter=5000, solver='liblinear')

In [19]:
y_pred=model.predict(X_test)
print("Accuracy:",accuracy_score(y_test,y_pred))
print("classification_report:\n",classification_report(y_test,y_pred))

Accuracy: 0.8461538461538461
classification_report:
               precision    recall  f1-score   support

           0       0.88      0.93      0.90      4976
           1       0.72      0.58      0.64      1537

    accuracy                           0.85      6513
   macro avg       0.80      0.75      0.77      6513
weighted avg       0.84      0.85      0.84      6513

In [20]:
from joblib import dump
dump(model,"adult_income_model.joblib")
print("Model training complete.Model saved as 'adult_income_model.joblib'.")

Model training complete.Model saved as 'adult_income_model.joblib'.